* {
    margin: 0;
    padding: 0;
    background-color: #273040;
    position: relative;
}

.imgbox {
    display: grid;
    height: 100%;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    display: block;
}

.image-center {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    display: block;
    z-index: 0;
}

.legendage {
    display: none;
    position: absolute;
    left: 20%;
    top: 9%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    font-size: clamp(50%, 0.5rem + 5vw, 15px);
    z-index: 1;
}

.legendworkage {
    display: none;
    position: absolute;
    left: 17%;
    top: 14%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    font-size: clamp(50%, 0.5rem + 5vw, 15px);
    z-index: 1;
}

.legendbusan {
    display: none;
    position: absolute;
    left: 15%;
    top: 21%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    font-size: clamp(50%, 0.5rem + 5vw, 15px);
    z-index: 1;
}

.legenddrivinglicence {
    display: none;
    position: absolute;
    left: 18%;
    top: 32%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    font-size: clamp(50%, 0.5rem + 5vw, 15px);
    z-index: 1;
}

.legendclients {
    display: none;
    position: absolute;
    left: 15%;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    font-size: clamp(50%, 0.5rem + 5vw, 15px);
    z-index: 1;
}

.legendprinters {
    display: none;
    position: absolute;
    left: 14%;
    top: 42%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    font-size: clamp(50%, 0.5rem + 5vw, 15px);
    z-index: 1;
}

.legendcables {
    display: none;
    position: absolute;
    left: 14%;
    top: 51%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    font-size: clamp(50%, 0.5rem + 5vw, 15px);
    z-index: 1;
}

.legendpython {
    display: none;
    position: absolute;
    left: 17.5%;
    top: 70%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    font-size: clamp(50%, 0.5rem + 5vw, 15px);
    z-index: 1;
}

.legenduniv {
    display: none;
    position: absolute;
    left: 13%;
    top: 85%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    font-size: clamp(50%, 0.5rem + 5vw, 15px);
    z-index: 1;
}

.legendrestaurant {
    display: none;
    position: absolute;
    left: 15%;
    bottom: -2vw;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    font-size: clamp(50%, 0.5rem + 5vw, 15px);
    z-index: 1;
}

.legendskills {
    display: none;
    position: absolute;
    left: 65%;
    top: 16.5%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    font-size: clamp(50%, 0.5rem + 5vw, 15px);
    z-index: 1;
}

.legendwork1 {
    display: none;
    position: absolute;
    right: 15%;
    top: 32%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    font-size: clamp(50%, 0.5rem + 5vw, 15px);
    z-index: 1;
}

.legendwork2 {
    display: none;
    position: absolute;
    right: 15%;
    top: 43%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    font-size: clamp(50%, 0.5rem + 5vw, 15px);
    z-index: 1;
}

.legendstudy1 {
    display: none;
    position: absolute;
    right: 15%;
    top: 59%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    font-size: clamp(50%, 0.5rem + 5vw, 15px);
    z-index: 1;
}

.legendstudy2 {
    display: none;
    position: absolute;
    right: 15%;
    top: 68%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    font-size: clamp(50%, 0.5rem + 5vw, 15px);
    z-index: 1;
}

.legendstudy3 {
    display: none;
    position: absolute;
    right: 15%;
    top: 77%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    font-size: clamp(50%, 0.5rem + 5vw, 15px);
    z-index: 1;
}

.legendfrench {
    display: none;
    position: absolute;
    left: 47%;
    top: 90%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    font-size: clamp(50%, 0.5rem + 5vw, 15px);
    z-index: 1;
}

.legendenglish {
    display: none;
    position: absolute;
    left: 66%;
    top: 90%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    font-size: clamp(50%, 0.5rem + 5vw, 15px);
    z-index: 1;
}

/* HOVER */
.legendkorean {
    display: none;
    position: absolute;
    right: -5%;
    top: 90%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    font-size: clamp(50%, 0.5rem + 5vw, 15px);
    z-index: 1;
}

/* ------------------------------ */
/* ------------------------------ */
.legendage-hover {
    height: calc(100% - 88.8%);
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - 73%);
    background: none;
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border: 1px solid rgba(15, 100, 205,0.7);
}

.legendage-hover:active ~ .legendage {
    display: block;
}

/* ------------------------------ */
.legendage-hover2 {
    height: calc(100% - 95%);
    z-index: 1;
    position: absolute;
    top: calc(100% - 88.7%);
    left: 0px;
    width: calc(100% - 90.5%);
    background: none;
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border: 1px solid rgba(15, 100, 205,0.7);
}

.legendage-hover2:active ~ .legendage {
    display: block;
}

/* ------------------------------ */
.legendworkage-hover {
    height: calc(100% - 95%);
    z-index: 1;
    position: absolute;
    top: calc(100% - 88.7%);
    left: calc(100% - 90.2%);
    width: calc(100% - 83%);
    background: none;
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border: 1px solid rgba(15, 100, 205,0.7);
}

.legendworkage-hover:active ~ .legendworkage {
    display: block;
}

/* ------------------------------ */
.legendbusan-hover {
    height: calc(100% - 95.8%);
    background: #982710;
    z-index: 1;
    position: absolute;
    top: calc(100% - 81.5%);
    left: 0px;
    width: calc(100% - 73%);
    background: rgba(200, 16, 46,0.3);
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border: 1px solid rgba(200, 16, 46,0.7);
}

.legendbusan-hover:active ~ .legendbusan {
    display: block;
}

/* ------------------------------ */
.legenddrivinglicence-hover {
    height: calc(100% - 96%);
    background: #215015;
    z-index: 1;
    position: absolute;
    top: calc(100% - 70%);
    left: 0px;
    width: calc(100% - 73%);
    background: rgba(15, 100, 205,0.3);
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border: 1px solid rgba(15, 100, 205,0.7);
}

.legenddrivinglicence-hover:active ~ .legenddrivinglicence {
    display: block;
}

/* ------------------------------ */
.legendclients-hover {
    height: calc(100% - 96.5%);
    z-index: 1;
    position: absolute;
    top: calc(100% - 62.8%);
    left: 0px;
    width: calc(100% - 73%);
    background: rgba(255,136,0,0.3);
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border: 1px solid rgba(255,136,0,0.7);
}

div.legendclients-hover a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;

    /* No underlines on the link */
    z-index: 10;

    /* Places the link above everything else in the div */
    background-color: #FFF;

    /* Fix to make div clickable in IE */
    opacity: 0;

    /* Fix to make div clickable in IE */
    filter: alpha(opacity=1);

    /* Fix to make div clickable in IE */
}

.legendclients-hover:hover {
    display: block;
    background: rgba(255,136,0,0.5);
    border: 1px solid rgba(255,136,0,0.9);
}

/* ------------------------------ */
.legendprinters-hover {
    height: calc(100% - 97.5%);
    z-index: 1;
    position: absolute;
    top: calc(100% - 59%);
    left: 0px;
    width: calc(100% - 73%);
    background: rgba(15, 100, 205,0.3);
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border: 1px solid rgba(15, 100, 205,0.7);
}

.legendprinters-hover:active ~ .legendprinters {
    display: block;
}

/* ------------------------------ */
.legendcables-hover {
    height: calc(100% - 97.2%);
    z-index: 1;
    position: absolute;
    top: calc(100% - 56.4%);
    left: 0px;
    width: calc(100% - 73%);
    background: rgba(15, 100, 205,0.3);
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border: 1px solid rgba(15, 100, 205,0.7);
}

.legendcables-hover:active ~ .legendcables {
    display: block;
}

/* ------------------------------ */
.legendpython-hover {
    height: calc(100% - 94%);
    z-index: 1;
    position: absolute;
    top: calc(100% - 33.5%);
    left: 0px;
    width: calc(100% - 72.8%);
    background: rgba(255,136,0,0.3);
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border: 1px solid rgba(255,136,0,0.7);
}

div.legendpython-hover a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;

    /* No underlines on the link */
    z-index: 10;

    /* Places the link above everything else in the div */
    background-color: #FFF;

    /* Fix to make div clickable in IE */
    opacity: 0;

    /* Fix to make div clickable in IE */
    filter: alpha(opacity=1);

    /* Fix to make div clickable in IE */
}

.legendpython-hover:hover {
    display: block;
    background: rgba(255,136,0,0.5);
    border: 1px solid rgba(255,136,0,0.9);
}

/* ------------------------------ */
.legenduniv-hover {
    height: calc(100% - 93.5%);
    z-index: 1;
    position: absolute;
    top: calc(100% - 17%);
    left: 0px;
    width: calc(100% - 72.8%);
    background: rgba(15, 100, 205,0.3);
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border: 1px solid rgba(15, 100, 205,0.7);
}

.legenduniv-hover:active ~ .legenduniv {
    display: block;
}

/* ------------------------------ */
.legendrestaurant-hover {
    height: calc(100% - 94%);
    z-index: 1;
    position: absolute;
    top: calc(100% - 9.5%);
    left: 0px;
    width: calc(100% - 72.8%);
    background: rgba(15, 100, 205,0.3);
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border: 1px solid rgba(15, 100, 205,0.7);
}

.legendrestaurant-hover:active ~ .legendrestaurant {
    display: block;
}

/* ------------------------------ */
.legendskills-hover {
    height: calc(100% - 88.5%);
    z-index: 1;
    position: absolute;
    top: calc(100% - 90.5%);
    left: calc(100% - 67%);
    width: calc(100% - 36%);
    background: rgba(255,136,0,0.3);
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border: 1px solid rgba(255,136,0,0.7);
}

div.legendskills-hover a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;

    /* No underlines on the link */
    z-index: 10;

    /* Places the link above everything else in the div */
    background-color: #FFF;

    /* Fix to make div clickable in IE */
    opacity: 0;

    /* Fix to make div clickable in IE */
    filter: alpha(opacity=1);

    /* Fix to make div clickable in IE */
}

.legendskills-hover:hover {
    display: block;
    background: rgba(255,136,0,0.5);
    border: 1px solid rgba(255,136,0,0.9);
}

/* ------------------------------ */
.legendwork1-hover {
    height: calc(100% - 89%);
    z-index: 0;
    position: absolute;
    top: calc(100% - 74%);
    left: calc(100% - 67%);
    width: calc(100% - 36%);
    background: rgba(255,136,0,0.3);
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border: 1px solid rgba(255,136,0,0.7);
}

div.legendwork1-hover a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;

    /* No underlines on the link */
    z-index: 10;

    /* Places the link above everything else in the div */
    background-color: #FFF;

    /* Fix to make div clickable in IE */
    opacity: 0;

    /* Fix to make div clickable in IE */
    filter: alpha(opacity=1);

    /* Fix to make div clickable in IE */
}

.legendwork1-hover:hover {
    display: block;
    background: rgba(255,136,0,0.5);
    border: 1px solid rgba(255,136,0,0.9);
}

/* ------------------------------ */
.legendwork2-hover {
    height: calc(100% - 89.3%);
    z-index: 1;
    position: absolute;
    top: calc(100% - 62%);
    left: calc(100% - 67%);
    width: calc(100% - 36%);
    background: rgba(255,136,0,0.3);
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border: 1px solid rgba(255,136,0,0.7);
}

div.legendwork2-hover a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;

    /* No underlines on the link */
    z-index: 10;

    /* Places the link above everything else in the div */
    background-color: #FFF;

    /* Fix to make div clickable in IE */
    opacity: 0;

    /* Fix to make div clickable in IE */
    filter: alpha(opacity=1);

    /* Fix to make div clickable in IE */
}

.legendwork2-hover:hover {
    display: block;
    background: rgba(255,136,0,0.5);
    border: 1px solid rgba(255,136,0,0.9);
}

/* ------------------------------ */
.legendstudy1-hover {
    height: calc(100% - 92%);
    z-index: 1;
    position: absolute;
    top: calc(100% - 45%);
    left: calc(100% - 67%);
    width: calc(100% - 36%);
    background: rgba(255,136,0,0.3);
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border: 1px solid rgba(255,136,0,0.7);
}

div.legendstudy1-hover a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;

    /* No underlines on the link */
    z-index: 10;

    /* Places the link above everything else in the div */
    background-color: #FFF;

    /* Fix to make div clickable in IE */
    opacity: 0;

    /* Fix to make div clickable in IE */
    filter: alpha(opacity=1);

    /* Fix to make div clickable in IE */
}

.legendstudy1-hover:hover {
    display: block;
    background: rgba(255,136,0,0.5);
    border: 1px solid rgba(255,136,0,0.9);
}

/* ------------------------------ */
.legendstudy2-hover {
    height: calc(100% - 92%);
    z-index: 1;
    position: absolute;
    top: calc(100% - 35.5%);
    left: calc(100% - 67%);
    width: calc(100% - 36%);
    background: rgba(255,136,0,0.3);
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border: 1px solid rgba(255,136,0,0.7);
}

div.legendstudy2-hover a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;

    /* No underlines on the link */
    z-index: 10;

    /* Places the link above everything else in the div */
    background-color: #FFF;

    /* Fix to make div clickable in IE */
    opacity: 0;

    /* Fix to make div clickable in IE */
    filter: alpha(opacity=1);

    /* Fix to make div clickable in IE */
}

.legendstudy2-hover:hover {
    display: block;
    background: rgba(255,136,0,0.5);
    border: 1px solid rgba(255,136,0,0.9);
}

/* ------------------------------ */
.legendstudy3-hover {
    height: calc(100% - 92.8%);
    z-index: 1;
    position: absolute;
    top: calc(100% - 26%);
    left: calc(100% - 67%);
    width: calc(100% - 36%);
    background: rgba(255,136,0,0.3);
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border: 1px solid rgba(255,136,0,0.7);
}

div.legendstudy3-hover a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;

    /* No underlines on the link */
    z-index: 10;

    /* Places the link above everything else in the div */
    background-color: #FFF;

    /* Fix to make div clickable in IE */
    opacity: 0;

    /* Fix to make div clickable in IE */
    filter: alpha(opacity=1);

    /* Fix to make div clickable in IE */
}

.legendstudy3-hover:hover {
    display: block;
    background: rgba(255,136,0,0.5);
    border: 1px solid rgba(255,136,0,0.9);
}

/* ------------------------------ */
.legendfrench-hover {
    height: calc(100% - 92.5%);
    z-index: 1;
    position: absolute;
    top: calc(100% - 14%);
    left: calc(100% - 61.5%);
    width: calc(100% - 84%);
    background: rgba(0, 38, 84,0.3);
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border: 1px solid rgba(0, 38, 84,0.7);
}

.legendfrench-hover:active ~ .legendfrench {
    display: block;
}

/* ------------------------------ */
.legendenglish-hover {
    height: calc(100% - 92.5%);
    z-index: 1;
    position: absolute;
    top: calc(100% - 14%);
    left: calc(100% - 42%);
    width: calc(100% - 84%);
    background: rgba(200, 16, 46,0.3);
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border: 1px solid rgba(200, 16, 46,0.7);
}

.legendenglish-hover:active ~ .legendenglish {
    display: block;
}

/* ------------------------------ */
.legendkorean-hover {
    height: calc(100% - 92.5%);
    z-index: 1;
    position: absolute;
    top: calc(100% - 14%);
    left: calc(100% - 21.5%);
    width: calc(100% - 84%);
    background: rgba(15, 100, 205,0.3);
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border: 1px solid rgba(15, 100, 205,0.7);
}

.legendkorean-hover:active ~ .legendkorean {
    display: block;
}

@media only screen and (max-width: 550px) {
    .legendage-hover:active ~ .legendage {
        display: block;
    }

    .legendage-hover2:active ~ .legendage {
        display: block;
    }

    .legendworkage-hover:active ~ .legendworkage {
        display: block;
    }

    .legendbusan-hover:active ~ .legendbusan {
        display: block;
    }

    .legenddrivinglicence-hover:active ~ .legenddrivinglicence {
        display: block;
    }

    .legendclients-hover:active ~ .legendclients {
        display: block;
    }

    .legendprinters-hover:active ~ .legendprinters {
        display: block;
    }

    .legendcables-hover:active ~ .legendcables {
        display: block;
    }

    .legendpython-hover:active ~ .legendpython {
        display: block;
    }

    .legenduniv-hover:active ~ .legenduniv {
        display: block;
    }

    .legendrestaurant-hover:active ~ .legendrestaurant {
        display: block;
    }

    .legendstudy1-hover:active ~ .legendstudy1 {
        display: block;
    }

    .legendstudy2-hover:active ~ .legendstudy2 {
        display: block;
    }

    .legendstudy3-hover:active ~ .legendstudy3 {
        display: block;
    }

    .legendwork2-hover:active ~ .legendwork2 {
        display: block;
    }

    .legendstudy2-hover:active ~ .legendstudy2 {
        display: block;
    }

    .legendstudy3-hover:active ~ .legendstudy3 {
        display: block;
    }

    .legendfrench-hover:active ~ .legendfrench {
        display: block;
    }

    .legendenglish-hover:active ~ .legendenglish {
        display: block;
    }

    .legendkorean-hover:active ~ .legendkorean {
        display: block;
    }
}